
header {
    background: yellow;
}

h1 {
    color: blue;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: hotpink;

}

a:link {
    text-decoration: none;
}

a:hover {
    color: green;

}

a:active {
    color: brown;
}
